<form action="/cart">
<label for="">Customer Details</label>
<input type="text"> 
<input type="email">
<div>
    {{!-- Classes --}}
</div>
<p>Subtotal</p>
<p>Tax</p>
<p>total</p>
<button>Confirm</button>
</form>