<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/class">CLASS</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="/admin">ADMIN</a></li>
                {{#if authCheck}}
                <li><a href="/bye">LOGOUT</a></li>
                {{else}}
                <li><a href="/login">LOGIN</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
    {{{body}}}
    </main>

    <footer>
        <p>&copy; Fitness PVT.LTD 2023</p>
    </footer>

</body>
</html>