<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/homeStyle.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/class">CLASS</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="/admin">ADMIN</a></li>
                {{#if authCheck}}
                <li><a href="/bye">LOGOUT</a></li>
                {{else}}
                <li><a href="/login">LOGIN</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
    {{{body}}}
    </main>

    <footer>
        <div class="container">
            <div class="about">
                <h3>about:</h3>
                <p>Our mission is to provide you with the tools and knowledge you need to live a happy, healthy, and fulfilling life.</p>
            </div>
            <div class="links">
                <h3>links:</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/class">Class</a></li>
                    <li><a href="/cart">Cart</a></li>  
                </ul>
            </div>
            <div class="contact">
                <h3>contact us:</h3>
                <ul>
                    <li><img src="images/icons/location.png"/>44 xoxox street,ON</li>
                    <li><img src="images/icons/email.png"/>fitness@gmail.com</li>
                    <li><img src="images/icons/phone.png"/>+1 545-555-5555</li>
                </ul>
            </div>
        </div><br>
        <div>
            <a href="" ><img src="images/icons/facebook.png"/></a>
            <a href="" ><img src="images/icons/insta.png"/></a>
            <a href="" ><img src="images/icons/twitter.png"/></a>
        </div>
        <p>&copy; Fitness PVT.LTD 2023</p>
    </footer>

</body>
</html>