<form action="/login" method="post">
    <label for="">LOGIN OR SIGNUP</label>
    <input type="email" name="" id="">
    <input type="text" name="" id="">
    <button>LOGIN</button>
    <button id="createAcc">CREATE ACCOUNT</button>
    {{!-- {{#if createAcc}} --}}
    <form action="/create" method="get">
    <label for="">CREATE AN ACCOUNT</label>
    <input type="checkbox">
    <label for="">Signup to be a member($75 per mth)</label>
    <button>YES</button>
    <button>NO</button>
    </form>
    {{!-- {{/if}} --}}
</form>


